/* STYLE FOR ANAL PAGE */
h2 {
    margin-bottom: 3rem;
}

h1 {
    margin-top: 4rem;
}

.body-text {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    gap: 20rem;
    margin-top: 30vh;
}

.anal {
    grid-column: 1;
}

#blurb {
    grid-column: 2;
}

#kid, #zebra {
    position: absolute;
    z-index: -1;
}

#kid {
    height: 30vh;
    top: 40vh;
    left: 5vw;
}

#zebra {
    height: 75vh;
    top: 0;
    right: 0;
}

#mobile {
    display: none;
}

@media only screen and (max-width: 912px) {
    #kid, #zebra {
        display: none;
    }

    #mobile {
        display: block;
        width: 100vw;
    }

    .body-text {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 15vw;
    }
}