/* STYLE FOR BIO PAGE */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-height: 100vh;
    object-position: center;
    gap: 2rem;
    z-index: -1;
}

.gallery img {
    max-height: 20vh;
    object-fit: cover;
}

.container {
    position: absolute;
}