/* STYLE FOR BIO PAGE */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-height: 90vh;
    object-position: center;
    gap: 1rem;
    z-index: -1;
    place-items: center;
}

.gallery img {
    max-height: 18vh;
    object-fit: cover;
}

.container {
    position: absolute;
}

h2 {
    text-align: center;
}

.stanza:nth-child(even) {
    text-align: right;
}