/* STYLE FOR DEDICATION PAGE */
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hug {
    height: 40vh;
    margin-right: 10vw;
}

@media only screen and (max-width: 912px) {
    body {
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    #hug {
        margin-right: 0;
    }

    p {
        margin-left: 0;
        margin-top: 5vh;
    }
}