/* STYLE FOR EPIGRAPH PAGES */
body {
    background-image: url("../../assets/illustrations/invitation.png");
    background-position: 80% 85%;
    background-repeat: no-repeat;
    background-size: 45vh;
}

.container {
    max-width: fit-content;
    margin-top: 20vh;
}

.poem {
    margin-bottom: 5rem;
}

.author {
    text-align: right;
}