/* STYLE FOR EPIGRAPH PAGES */
body {
    background-image: url("../../assets/illustrations/invitation.webp");
    background-position: 80% 85%;
    background-repeat: no-repeat;
    background-size: 45vh;
}

.container {
    max-width: fit-content;
    margin-top: 20vh;
}

.poem {
    margin-bottom: 5rem;
}

.author {
    text-align: right;
}

#invitation {
    display: none;
}

@media only screen and (max-width: 912px) {
    .container {
        margin-top: 5vh;
        width: 80vw;
        padding-bottom: 15vh;
    }

    /* TODO: for some reason this property isn't inherited from the main.css file */
    body {
        background-image: none;
    }

    #invitation {
        display: block;
        width: 80vw;
        margin-top: 4vh;
    }
}