/* STYLE FOR EPIGRAPH PAGES */
body {
    background-image: url("../../assets/invitation.png");
    background-position: 65% 75%;
    background-repeat: no-repeat;
    background-size: 200px;
}

.container {
    margin-top: -20rem;
    max-width: fit-content;
}

.poem {
    margin-bottom: 5rem;
}

.author {
    text-align: right;
}