/* STYLE FOR GENEALOGY PAGE */
.fathers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 50vh;
    object-position: center;
    gap: 20rem;
    margin-bottom: 5vh;
    place-items: center;
}

.fathers figure {
    text-align: center;
}

.fathers img {
    height: 20vh;
    object-fit: cover;
}

.parents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    object-position: center;
    gap: 2vh;
    place-items: center;
}

.parents img {
    height: 40vh;
    object-fit: cover;
}

figcaption {
    text-align: center;
}

h1 {
    margin-top: 5vh;
}

h2 {
    text-align: center;
    margin-bottom: 1vh;
}

.people {
    min-width: 60vw;
    overflow: scroll;
}

.contemporaries {
    display: none;
    justify-content: center;
}

img {
    border: 5px dashed gray;
    border-radius: 50%;
}

@media only screen and (max-width: 912px) {
    .fathers {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fathers figure {
        margin-bottom: 5vh;
    }

    .parents {
        padding-bottom: 12vh;
    }
}