/* STYLE FOR IDX PAGE */
.idx {
    display: grid;
    grid-template-rows: 1fr 2fr;
    max-width: 1000px;
    max-height: 700px;
}

.idx-header {
    /* relative to idx grid */
    grid-row: 1;
    grid-column: 2 / 3;
    /* position text on bottom */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#idx-img {
    height: 25vh;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

#idx-h1 {
    margin-bottom: 5vh;
}

.idx-entries {
    width: 40vw;
    min-height: 40vh;
    max-height: 45vh;
    /* relative to idx grid */
    grid-row: 2;
    grid-column: 2 / 3;
    columns: 3;
    overflow: scroll;
}

.title, .epigraph, .dedication, .about, .socials, .projects {
    margin-bottom: 2rem;
}

/* Two columns */
@media only screen and (max-width: 1380px) {
}

@media only screen and (max-width: 912px) {
    .idx {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .idx-entries {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 0 2vw 15vw 7vw; /* top right bottom left */
        overflow: unset;
        max-height: unset;
        min-height: fit-content;
    }
}