@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root {
    /* Variable definitions here */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Arvo', serif;
    font-size: 62.5%; /* Sets default font size to 10px */
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

body {
    font-size: 1.7rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-indent: -1em; /* Want all wrapped text to appear to be indented, so negatively indent the first line of text */
    margin-left: 2em; /* Add left margin to make up for hanging indent above */
    line-height: 150%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: gray;
}

.nav {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}