@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root {
    /* Variable definitions here */
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Arvo', serif;
    font-size: 62.5%; /* Sets default font size to 10px */
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

body {
    font-size: 1.7rem;
}