/* STYLE FOR ADVANCE PRAISE PAGE */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.praise {
    font-style: italic;
}

.attribution {
    text-align: right;
}

@media only screen and (max-width: 912px) {
    body {
        padding-bottom: 15vh;
    }

    p {
        padding-left: 3vw;
        padding-right: 7vw;
    }
}