/* STYLE FOR TIP PAGE */
body {
    background-image: url("../../assets/illustrations/tip.webp");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 80vh;
    margin-top: 20vh;
}

.container {
    position: absolute;
    right: 15vw;
    top: 35vh;
}