/* STYLE FOR TITLE PAGE */
body {
    display: flex;
    flex-direction: column;
}

#attic {
    height: 60vh;
    margin-top: 5vh;
}

#name {
    height: 25vh;
}

@media only screen and (max-width: 912px) {
    #attic {
        height: 50vh;
    }

    #name {
        height: 24vh;
    }

    body {
        margin-top: unset;
        overflow-y: unset;
        background-image: none;
        overflow: hidden;
        height: 95vh;
        margin-top: 5vh;
        justify-content: unset;
    }
}