/* STYLE FOR TITLE PAGE */
body {
    background-image: url("../../assets/illustrations/title.webp");
    background-position: 85% 5%;
    background-repeat: no-repeat;
    background-size: 50vh;
    margin-top: 20vh;
}

#name {
    position: absolute;
    top: 40vh;
    height: 50vh;
    background-color: rgba(255, 255, 255, 70%);
}

#mobile {
    display: none;
}

@media only screen and (max-width: 912px) {
    #mobile {
        display: block;
        height: 50vh;
    }

    #name {
        position: unset;
        height: 24vh;
    }

    body {
        margin-top: unset;
        overflow-y: unset;
        background-image: none;
        overflow: hidden;
        height: 95vh;
        margin-top: 5vh;
        justify-content: unset;
    }
}